{% extends 'backend.html.twig' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>
        <div class="icon-cell">
          {% trans %}key.handle{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          <span class="icon-20 icon-key"></span>
          {% trans %}key.description{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}key.actions{% endtrans %}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for key in keys %}
    <tr>
      <td>{{ key.handle }}</td>
      <td>{{ key.description }}</td>
      <td>
        <a
          class="button inline"
          href="{{ path('keys_edit', {"handle": key.handle}) }}"
        >
          <span class="icon-20 icon-edit"></span>
          {% trans %}key.edit{% endtrans %}
        </a>
        <a
          class="button inline"
          href="{{ path('keys_confirm_deletion', {"handle": key.handle}) }}"
        >
          <span class="icon-20 icon-delete"></span>
          {% trans %}key.delete{% endtrans %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
