@import './breakpoints';
@import './colors';

.clickable {
    transition: background-color 0.5s, color 0.5s;

    &:hover {
	background-color: $foreground-color;
	color: $background-color;

	&:active {
	    background-color: $background-color;
	    color: $foreground-color;
	}
    }
}

.button, button[type="submit"], input[type="submit"] {
    @extend .clickable;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1.5rem;
    text-align: center;
}

.button, button, input {
    background-color: $background-color;
    border-bottom: 1px solid black;
    border-right: none;
    color: $foreground-color;
    display: block;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    width: 100%;
}

label.button {
    text-align: left;
}

label > input[type="checkbox"] {
    display: inline-block;
    width: auto;

    & ~ :not(input) {
	bottom: auto;
	position: static;
    }
}

label {
    display: block;
    margin-bottom: .5em;
    padding-top: 1.5rem;
    position: relative;

    & > :not(input) {
	bottom: 0.4rem;
	color: $foreground-color-shaded;
	left: 0.6rem;
	padding-left: 0.2em;
	position: absolute;
	transition: bottom 0.2s;
    }

    /* Make every non-input child a floating description for the input. */
    & > input:focus:not([type="checkbox"]) ~ :not(input),
    & > input:not(:placeholder-shown):not([type="checkbox"]) ~ :not(input) {
	bottom: 2.6rem;
	color: $foreground-color;
	font-size: 1.2em;
	left: 0;
    }
}


.icon-input {
    position: relative;

    &::after {
	bottom: 0.4em;
	content: " ";
	display: block;
	height: 20px;
	-webkit-mask-size: contain;
	mask-size: contain;
	position: absolute;
	right: 0.2em;
	width: 20px;
    }
}

.secret-input {
    &::after {
	background-color: #b6b6b6;
	-webkit-mask-image: url("../icon/secret.svg");
	mask-image: url("../icon/secret.svg");
    }
}

.user-input {
    &::after {
	background-color: #b6b6b6;
	-webkit-mask-image: url("../icon/user.svg");
	mask-image: url("../icon/user.svg");
    }
}

@include for-desktop-up {
    .button, button, input {
	&.inline {
	    align-items: center;
	    display: inline-flex;
	    justify-content: center;
	    margin: .5rem;
	    width: auto;
	}
    }


    form.inline {
        display: inline-flex;
        padding-top: 1rem;
    }

    label.inline {
	display: inline-flex;
	justify-content: left;
	margin: .5rem;
	padding-top: 0;
	width: auto;
    }
}
