@import './colors';

button[type="submit"], input[type="submit"] {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 1.5em;
    transition: all 0.5s;

    &:hover {
	background-color: $foreground-color;
	color: $background-color;

	&:active {
	    background-color: $background-color;
	    color: $foreground-color;
	}
    }
}

button, input {
    display: block;
    width: 100%;
    
    &[type="password"], &[type="submit"], &[type="text"] {
	background-color: $background-color;
	border-bottom: 1px solid black;
	border-right: none;
	color: $foreground-color;
	padding: 0.4em 0.2em;
    }

    &:focus ~ :not(input),
    &:not(:placeholder-shown) ~ :not(input) {
	bottom: 2rem;
	color: $foreground-color;
	font-size: 1.2em;
    }
}

label {
    display: block;
    margin-bottom: .5em;
    padding-top: 1.5rem;
    position: relative;

    & > :not(input) {
	bottom: 1px;
	color: $foreground-color;
	padding-left: 0.2em;
	position: absolute;
	transition: bottom 0.2s;
    }
}


.icon-input {
    position: relative;

    &::after {
	background-size: contain;
	bottom: 0.4em;
	content: " ";
	display: block;
	height: 20px;
	position: absolute;
	right: 0.2em;
	width: 20px;
    }
}

.secret-input {
    &::after {
	background-color: #b6b6b6;
	-webkit-mask-image: url("../icon/secret-20.svg");
	mask-image: url("../icon/secret-20.svg");
    }
}

.user-input {
    &::after {
	background-color: #b6b6b6;
	-webkit-mask-image: url("../icon/user-20.svg");
	mask-image: url("../icon/user-20.svg");
    }
}
