$icon-names: (
    accept,
    client,
    delete,
    deny,
    detail,
    edit,
    expired,
    expiring,
    key,
    request,
    secret,
    user,
);
$icon-sizes: (20, 32, 64, 128);

@each $name in $icon-names {
    .icon-#{$name} {
	background-color: $foreground-color;
	display: inline-block;
	-webkit-mask-image: url("../icon/#{$name}.svg");
	mask-image: url("../icon/#{$name}.svg");
	-webkit-mask-size: contain;
	mask-size: contain;
    }

    .clickable:hover .icon-#{$name} {
	background-color: $background-color;
    }
}

@each $size in $icon-sizes {
    .icon-#{$size} {
	height: #{$size}px;
	width: #{$size}px;
    }
}

th > .icon-cell {
    align-items: center;
    display: flex;

    & > *:first-child {
	margin-right: 0.5em;
    }
}
