@import './breakpoints';
@import './colors';
@import './forms';
@import './messages';

* {
    box-sizing: border-box;
}

body {
    background-color: $page-background-color;
    background-image: url("../img/noise.png");
    color: $foreground-color;
    font-family: Verdana, sans-serif;
    margin: 0;
}

h1, h2, h3 {
    text-align: center;
}

pre {
    border: 1px solid black;
    border-radius: 5px;
    background-color: $background-color;
    color: white;
    overflow: scroll;
    padding: 1em;
}

@include for-desktop-up {
    main {
	margin: auto;
	min-width: 768px;
	width: 70vh;
    }
}
