<!doctype html>
<html>
  <head>
    <title>Unlocked - Maintenance</title>
  </head>
  <body>
    <h1>Maintenance</h1>

    <ul>
      <li>Does the database exists? - {% if dbExists %}yes{% else %}no{% endif %}
    </ul>
  </body>
</html>
