{% extends 'base.html.twig' %}

{% block content %}
  <h1>Maintenance</h1>

  {% if dbExists %}
  <div class="messagebox success">
    {% trans %}maintenance.database.exists{% endtrans %}
  </div>
  {% else %}
  <div class="messagebox danger">
    {% trans %}maintenance.database.missing{% endtrans %}
  </div>
  {{ form(form) }}
  {% endif %}
{% endblock %}
