{% extends 'base.html.twig' %}

{% block content %}
  <h1>Maintenance</h1>

  {% if dbExists %}
    <div class="messagebox success">Database does exist</div>
  {% else %}
    <div class="messagebox danger">Database does not exist</div>
    {{ form(form) }}
  {% endif %}
{% endblock %}
