{% extends 'base.html.twig' %}

{% set icons = [
    'accept',
    'client',
    'delete',
    'deny',
    'detail',
    'edit',
    'expired',
    'expiring',
    'key',
    'request',
    'secret',
    'user',
] %}

{% block page %}
  <h1>Heading 1</h1>

  <h2>Heading 2</h2>
    
  <h3>Heading 3</h3>

  <div class="messagebox success">Success message</div>

  <div class="messagebox danger">Danger message</div>

  <label>
    <input placeholder=" " type="text" />
    <span>Text input field</span>
  </label>

  <label class="icon-input user-input">
    <input placeholder=" " type="text" />
    <span>Input with user icon</span>
  </label>

  <label class="icon-input secret-input">
    <input placeholder=" " type="password" />
    <span>Password input field</span>
  </label>

  <label class="button">
    <input type="checkbox" />
    <span>Checkbox input</span>
  </label>

  <input value="Submit button" type="submit" />

  <pre>
Code output

=============
test:
  - value1
  - value2  test
=============
  </pre>

  <h2>Icons</h2>
  <div style="display: flex; flex-wrap: wrap;">
    {% for icon_name in icons %}
    <div style="margin: 1em;">
      <p>{{ icon_name|title }}</p>
      <span class="icon-64 icon-{{ icon_name }}" />
    </div>
    {% endfor %}
  </div>
{% endblock %}
