{% extends 'backend.html.twig' %}

{% block content %}
<table>
  <thead>
    <tr>
      <th>
        <div class="icon-cell">
          {% trans %}client.handle{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          <span class="icon-20 icon-key"></span>
          {% trans %}client.description{% endtrans %}
        </div>
      </th>
      <th>
        <div class="icon-cell">
          {% trans %}client.actions{% endtrans %}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for client in clients %}
    <tr>
      <td>{{ client.handle }}</td>
      <td>{{ client.description }}</td>
      <td>
        <a
          class="button"
          href="{{ path('clients_edit', {"handle": client.handle}) }}"
        >{% trans %}client.edit{% endtrans %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
